<footer class="text-center text-lg-start text-white" style="background-color: #0a2541">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <section class="">
      <!--Grid row-->
      <div class="row">
        <div class="col-md-12 col-lg-3 col-xl-3 mx-auto mt-3">
          <img src="https://files.codingninjas.in/new-logo-03-11984.svg" alt="footer" height="200" width="200" />
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-4 col-lg-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">CODING NINJAS</h6>
          <p>
            <a class="text-white">About Us</a>
          </p>
          <p>
            <a class="text-white">Privacy Policy</a>
          </p>
          <p>
            <a class="text-white">Terms & Condition</a>
          </p>
          <p>
            <a class="text-white">Pricing & Refund Policy</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
          <p>
            <a class="text-white">Article</a>
          </p>
          <p>
            <a class="text-white">Courses</a>
          </p>
          <p>
            <a class="text-white">Mock Interview</a>
          </p>
          <p>
            <a class="text-white">Workshop</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">COMMUNITY</h6>
          <p>
            <a class="text-white">CodeStudio</a>
          </p>
          <p>
            <a class="text-white">Blog</a>
          </p>
          <p>
            <a class="text-white">Events</a>
          </p>
          <p>
            <a class="text-white">Campus Ninja</a>
          </p>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-12 col-lg-3 mx-auto">
          <div class="row">
            <div class="col-md-6 col-lg-12 mx-auto mt-3">
              <h6 class="text-uppercase font-weight-bold">Follow us</h6>

              <!-- Facebook -->
              <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-facebook-f"></i></a>

              <!-- Twitter -->
              <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i></a>

              <!-- Google -->
              <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-google"></i></a>

              <!-- Instagram -->
              <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-instagram"></i></a>

              <!-- Linkedin -->
              <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-linkedin"></i></a>
              <!-- Github -->
              <a class="btn btn-floating m-1" href="#!" role="button"><i class="fa fa-github"></i></a>
            </div>

            <div class="col-md-6 col-lg-12 mx-auto mt-3">
              <h6 class="text-uppercase mb-2 font-weight-bold">Contact Us</h6>
              <p><i class="fa fa-envelope mr-3"></i> contact@codingninjas.com</p>
              <p><i class="fa fa-phone mr-3"></i> 18001233598</p>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-white">CodingNinjas.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->