.enbtn{
    background-image: linear-gradient(90deg,#f96b24,#ff9100);
    padding: 12px 24px;
    margin: 5px;
    color: #fff;
    font-size: 13px;
    letter-spacing: .3px;
    width: -moz-fit-content;
    width: fit-content;
}
.lbtn{
    background-color: #feeee5;
    padding: 8px 24px;
    margin: 5px;
    font-size: 13px;
    letter-spacing: .3px;
}

.navbar{
    background-color: #032d6b;;
}